@font-face {
  font-family: 'lekton-regular';
  src: local('lekton-regular'), url(./assets/fonts/lekton/Lekton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'lekton-bold';
  src: local('lekton-bold'), url(./assets/fonts/lekton/Lekton-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'handlee-regular';
  src: local('handlee-regular'), url(./assets/fonts/handlee/handlee-regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
